@import "./src/mixins/_buttons.scss";
@import "./src/mixins/_flex.scss";

#player-card{

    @include flex-column-full-center;

    color: white;
    width: 50%;

    #sprite{
        background-image: url("./src/assets/knight_idle_sheet_l.png");
        width: 384px;
        height: 384px;
        background-repeat: no-repeat;
        animation: playerIdle 0.5s steps(6) infinite;
        transform: rotateY(180deg);
    }

    #hp,#dmg{

        @include flex-full-center;
        @include blue-btn-bg-5;

        width: 10rem;
        height: 3rem;
        margin: 30px;
        border-radius: 10px;
        padding-bottom: 10px;
        font-size: 1.2rem;
        user-select: none;
    }
}

@keyframes playerIdle {
    0% { background-position: 0 0; }
    100% { background-position: -2304px 0; }
}