@import "./src/mixins/_buttons.scss";
@import "./src/mixins/_flex.scss";

#home-wrapper{
    display: flex;
}

#home-left{
    @include flex-justify-center;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#home-right{
    @extend #home-left;

    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img{
        width: 100%;
    }

    .btn-container{
        @include flex-column;
        button{
            @include flex-full-center;
            color: black;
            border-radius: 10px;
            border: none;
            width: 12rem; 
            height: 4rem;
            font-size: 20px;
            font-family: 'Roboto Mono', monospace;
            transition: 0.1s ease-in-out;
            cursor: pointer;
            margin-bottom: 30px;

            &:nth-child(1){
                @include orange-btn-bg-5;
                transition: 0.1s ease-in-out;
            }

            &:nth-child(2){
                @include blue-btn-bg-5;
                transition: 0.1s ease-in-out;
            }

            &:nth-child(3){
                @include green-btn-bg-5;
                transition: 0.1s ease-in-out;
            }
        }

        button:hover{
            @include hover-btn-bg;
            color: black;
            transition: 0.1s ease-in-out;
        }
    }
}