@import "./src/mixins/_buttons.scss";
@import "./src/mixins/_flex.scss";

.questions-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--bg);
}

.questions{
    @include flex-full-center;
    width: 100%;
}

.cont{
    @extend .questions;
    background-color: var(--yellowwhite);
    width: 90%;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;

    p{
        text-align: center;
    }

    h2{
        font-size: 2rem;
        position: relative;
        font-weight: normal;
        letter-spacing: -3px;

        &::before, &::after{
            content: "";
            height: 1px;
            width: 150%;
            background-color: black;
            position: absolute;
            left: -20%;
            margin: -10px;
        }

        &::before{
            top: 0;
        }

        &::after{
            bottom: 0;
        }
    }

    div{
        display: grid;
        grid-template-columns: 1fr 1fr;

        p{
            @include orange-btn-bg-5;
            padding: 25px;
            margin: 15px 40px;
            width: 200px;
            border-radius: 10px;
            outline: solid 2px black;
            text-align: center;
            color: whitesmoke;
            transition: 0.1s ease-in-out;
        }

        p:hover{
            @include hover-btn-bg;
            cursor: pointer;
            color: black;
        }

    }

    #btn-submit{
        @include green-btn-bg-5;
        padding: 15px 35px;
        color: whitesmoke;
        border-radius: 10px;
        font-size: 1rem;
        font-family: 'Roboto Mono', monospace;
        transition: 0.1s ease-in-out;

    }

    #btn-submit:hover{
        @include hover-btn-bg;
        cursor: pointer;
        color: black;
    }
}