:root{
    --bg: #05031b;
    --orange: #E37100;
    --orange-shadow: #c62e00;
    --blue: #31A5D3;
    --blue-shadow: #266b86;
    --green: #24A894;
    --green-shadow: #1e6358;
    --hover: #ffe367;
    --hover-shadow: #f0c740;
}

body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg);
}