:root{
    --bg: #05031b;
    --orange: #E37100;
    --orange-shadow: #c62e00;
    --blue: #31A5D3;
    --blue-shadow: #266b86;
    --green: #24A894;
    --green-shadow: #1e6358;
    --hover: #ffe367;
    --hover-shadow: #f0c740;
    --yellowwhite: rgb(244, 240, 231);
    --corr: #34cb44;
    --corr-shadow: #185d1f;
    --incorr: #ff0008;
    --incorr-shadow: #690003;

}

body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg);


    h2,h3,p,img,td,tr,th{
        user-select: none;
    }
}

button{
    font-family: 'Roboto Mono', monospace;
    padding: 20px 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    outline: solid 2px black;
    text-align: center;
    background-color: var(--orange);
    box-shadow: 0 -5px 0 0 var(--orange-shadow) inset;
    border: none;
    font-weight: normal;

    &:hover{
        background-color: var(--hover);
        box-shadow: 0 -5px 0 0 var(--hover-shadow) inset;
        cursor: pointer;
    }
}
